{{ 'product-ingredients.css' | asset_url | stylesheet_tag }}
<div class="product-ingredients pt110 pb68">
  <div class="container pb16 pt">
    {% if section.settings.title != blank %}<h2 class="center pb42">{{ section.settings.title }}</h2>{% endif %}

    <div class="row "> 
    {% for block in section.blocks %}
        <div class="item col-lg-4 pt42">
          <div class="item_wrapper center">
            {% if block.settings.ico != blank %}
                <div class="ico"><img src="{{ block.settings.ico | img_url: "master" }}"></div>
            {% endif %}
            {% if block.settings.title != blank %}
            <div class="h2">{{ block.settings.title }}</div>
            {% endif %}
            {% if block.settings.text != blank %}
            <div class="h4">{{ block.settings.text }}</div>
            {% endif %}
          </div>
        </div>
    {% endfor %}
    </div> 
  </div>
</div>

{% schema %}
{
  "name": "Product ingredients",
  "tag": "section",
  "class": "section",
  "settings": [  
  {
    "type": "text",
    "id": "title", 
    "label": "Title"
  }
  ],
  "max_blocks": 3,
  "blocks": [

    {
      "type": "item",
      "name": "Item", 
      "settings": [  
      {
        "type": "image_picker",
        "id": "ico", 
        "label": "Ico"
      },
      {
        "type": "text",
        "id": "title", 
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "text", 
        "label": "Text"
      }
      ]
    } 
  ],
  "presets": [
    {
      "name": "Product ingredients"
    }
  ]
}
{% endschema %}