
    <h1 class="h1">{{ 'customer.account.title' | t }}</h1>
    <div class="row">
        <div class="col-md-5">
            <div class="accounliks">
                {% render 'account-nav' %}
            </div>

            <div class ="md:px-2 font-medium">
                <div class="py-2">
                    <h2 class="pb-2 font-semibold">{{ customer.name }}</h2> {{ customer.email }}
                </div>

                <div class="py-2">
                    <h2 class="pb-2 font-semibold">{{ 'customer.account.default_address' | t }}</h2>
                    {{ customer.default_address | format_address }}
                </div>
               <div class="Segment__Content">
            <div class="Segment__ButtonWrapper">
              <a href="{{ routes.account_addresses_url }}" class="btn Button Button--primary">Edit addresses</a>
            </div>
               </div>

                  <div class="Segment__Content">
           
                  <!-- Begin ReCharge code -->
        <br>
		<p id="rc_link_container">
			<a href="/tools/recurring/login"  class="btn Button--primary">Manage Subscriptions</a>
		</p>
		<!-- End ReCharge code -->


          </div>
            </div>
        </div>

        <div class="col-md-7">
            <div class="order-history-wrp">

              
                    <h3 class="h3">{{ 'customer.orders.title' | t }}</h3>

                    <div class="order-print-text">
                        {% paginate customer.orders by 20 %}
                            {% if customer.orders.size != 0 %}
                                <table class="order-print-table">
                                    <thead>
                                    <tr>
                                        <th class="text-left">{{ 'customer.orders.order_number' | t }}</th>
                                        <th class="text-left">{{ 'customer.orders.date' | t }}</th>
                                        <th class="text-left">{{ 'customer.orders.payment_status' | t }}</th>
                                        <th class="text-left">{{ 'customer.orders.fulfillment_status' | t }}</th>
                                        <th class="text-left">{{ 'customer.orders.total' | t }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for order in customer.orders %}
                                        <tr class="order-history-item">
                                            <td class="whitespace-nowrap" data-label="{{ 'customer.orders.order_number' | t }}">
                                                <a  href="{{ order.customer_url }}">
                                                    <div class="flex -space-x-2 overflow-hidden">
                                                        {% for order_line in order.line_items limit: 3 %}
                                                            {{ order_line.image | image_url: width: 200 | image_tag: loading: 'lazy', class: 'inline-block w-6 h-6 md:h-8 md:w-8 rounded-full border object-cover' }}
                                                        {% endfor %}
                                                    </div>
                                                    <span class="my-1 block"  >
                                                        {{ order.name }}
                                                    </span>
                                                </a>
                                            </td>
                                            <td class="whitespace-nowrap" data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | time_tag: format: 'date' }}</td>
                                            <td class="whitespace-nowrap" data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                                            <td class="whitespace-nowrap" data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                                            <td class="whitespace-nowrap" data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
                                           
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p class="error">{{ 'customer.orders.none' | t }}</p>
                            {% endif %}
                            
                            {% if paginate.pages > 1 %}
                                <div class="pagination no-print">
                                    {% render 'pagination' %}
                                </div>
                            {% endif %}
                        
                        {% endpaginate %}
                    </div>
   
             

            </div>
        </div>
    </div>

    

{% schema %}
  {
    "name": "Account page",
    "settings": [
      {
        "type": "header",
        "content": "General Settings"
      }
    ]
}

{% endschema %}
